# Olist E-commerce Dataset Cleaning
**Project Goal:** Prepare and standardize the Olist dataset to ensure high-quality, reliable data for SQL analysis and business insights extraction.

## Dataset Overview
The Brazilian E-Commerce Public Dataset by Olist contains detailed records of orders made at a multi-vendor marketplace in Brazil from 2016 to 2018. It includes data across:

- Orders
- Customers
- Sellers
- Order items
- Products
- Payments
- Reviews
- Geolocation
- Product category translations

## Data Analysis Workflow

1. **Data Retrieval** – Load and inspect the datasets provided.
2. **Initial Exploration** – Understand the structure, shape, and basic contents of the data.
3. **Data Cleaning** – Handle missing values, data types, duplicates, and inconsistencies.

---

## Load the Dataset
**Action:** Import all relevant CSV files into pandas DataFrames.  
**Purpose:** Gain an initial understanding of the raw dataset and establish a foundation for exploratory analysis and cleaning.

In [2]:
import pandas as pd
import numpy as np

#File path
customers_fp="/Users/neha/Documents/Sql Projects/Olist_Ecommerce_SQL_Project/Dataset Cleaning with Pandas/olist_customers_dataset.csv"
geoloc_fp="/Users/neha/Documents/Sql Projects/Olist_Ecommerce_SQL_Project/Dataset Cleaning with Pandas/olist_geolocation_dataset.csv"
order_items_fp="/Users/neha/Documents/Sql Projects/Olist_Ecommerce_SQL_Project/Dataset Cleaning with Pandas/olist_order_items_dataset.csv"
order_payments_fp="/Users/neha/Documents/Sql Projects/Olist_Ecommerce_SQL_Project/Dataset Cleaning with Pandas/olist_order_payments_dataset.csv"
order_reviews_fp="/Users/neha/Documents/Sql Projects/Olist_Ecommerce_SQL_Project/Dataset Cleaning with Pandas/olist_order_reviews_dataset.csv"
orders_fp="/Users/neha/Documents/Sql Projects/Olist_Ecommerce_SQL_Project/Dataset Cleaning with Pandas/olist_orders_dataset.csv"
products_fp="/Users/neha/Documents/Sql Projects/Olist_Ecommerce_SQL_Project/Dataset Cleaning with Pandas/olist_products_dataset.csv"
sellers_fp="/Users/neha/Documents/Sql Projects/Olist_Ecommerce_SQL_Project/Dataset Cleaning with Pandas/olist_sellers_dataset.csv"
category_name_translation_fp="/Users/neha/Documents/Sql Projects/Olist_Ecommerce_SQL_Project/Dataset Cleaning with Pandas/product_category_name_translation.csv"

#Loading the datasets
customers=pd.read_csv(customers_fp)
geoloc=pd.read_csv(geoloc_fp)
order_items=pd.read_csv(order_items_fp)
order_payments=pd.read_csv(order_payments_fp)
order_reviews=pd.read_csv(order_reviews_fp)
orders=pd.read_csv(orders_fp)
products=pd.read_csv(products_fp)
sellers=pd.read_csv(sellers_fp)
category_name_translation=pd.read_csv(category_name_translation_fp)

### Initial Exploration
- Check dataset shape, column names, and data types.
- Identify missing values and duplicates.
- Document any immediate issues for cleaning.

### 1. Customers Dataset
This dataset contains information about unique customers, including:
- **customer_id** (unique identifier for each customer)
- **customer_unique_id** (unique across time, even if the same customer places multiple orders)
- **customer_zip_code_prefix**, **customer_city**, **customer_state**

### Exploration Steps:
- Check dataset shape
- Review column data types
- Identify missing values
- Preview sample rows
- Summarize numerical columns

In [ ]:
print(customers.shape)
customers.head()

(99441, 5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [ ]:
customers.info()
customers.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

### Customers Dataset – Findings  

- **Missing Values**: None found.  
- **Duplicate Rows**: None found.  
- **Data Types**: All columns have appropriate datatypes.  
- **Data Integrity**:  
  - Each `customer_id` is unique.  
  - `customer_unique_id` can appear multiple times since one customer may place multiple orders.  

No major cleaning required for this dataset. It is ready to be used for further analysis and joins with other tables.


### 2. Orders Dataset  
Contains order lifecycle details with timestamps and status info.  
Key fields: `order_id`, `customer_id`, `order_status`, `purchase_timestamp`, `delivered_customer_date`, `estimated_delivery_date`.  

We'll explore its structure and note any potential data quality issues.

In [4]:
display(orders.shape)
display(orders.head())
display(orders.info())
display(orders['order_status'].value_counts())
orders.isnull().sum()
display(orders.duplicated().sum())

(99441, 8)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

None

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

np.int64(0)

### Orders Dataset- Findings
- 8 `order_status` values: delivered, shipped, canceled, processing, invoiced, unavailable, etc.
- `order_id` is the primary key links to `order_items`, `order_payments`, `order_reviews`, and `customers`.
- Timestamps are objects which needs conversion to `datetime` for analysis.
- Missing values are meaningful (e.g., canceled orders may lack approval or delivery dates).
- `order_estimated_delivery_date` has only the date, no time.

### Orders Dataset - Cleaning

In [ ]:
#Changing the datatype of timestamp columns to datetime
date_cols = [
    'order_purchase_timestamp', 
    'order_approved_at', 
    'order_delivered_carrier_date', 
    'order_delivered_customer_date', 
    'order_estimated_delivery_date'
]
for col in date_cols:
    orders[col] = pd.to_datetime(orders[col], errors='coerce')

In [33]:
#Removing all the absurd orders that do not make sense
#example: delivered date before purchase date
invalid_orders = orders[
    (orders['order_approved_at'] < orders['order_purchase_timestamp']) |
    (orders['order_delivered_carrier_date'] < orders['order_approved_at']) |
    (orders['order_delivered_customer_date'] < orders['order_delivered_carrier_date']) |
    (orders['order_estimated_delivery_date'] < orders['order_purchase_timestamp'])
]
invalid_orders['order_delivered_carrier_date'].info()

<class 'pandas.core.series.Series'>
Index: 1382 entries, 15 to 99406
Series name: order_delivered_carrier_date
Non-Null Count  Dtype
--------------  -----
1382 non-null   object
dtypes: object(1)
memory usage: 21.6+ KB

In [34]:
#Carefully examining the invalid orders to remove only the truly invalid ones
null_invalid_orders = invalid_orders[invalid_orders['order_delivered_customer_date'].isnull()] 
invalid_orders = invalid_orders.drop(null_invalid_orders.index) 
invalid_orders.info() 
# Remove invalid orders from the main orders DataFrame using 'order_id' and reset index
orders_cleaned = orders[~orders['order_id'].isin(invalid_orders['order_id'])].reset_index(drop=True)
orders_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1373 entries, 15 to 99406
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       1373 non-null   object
 1   customer_id                    1373 non-null   object
 2   order_status                   1373 non-null   object
 3   order_purchase_timestamp       1373 non-null   object
 4   order_approved_at              1373 non-null   object
 5   order_delivered_carrier_date   1373 non-null   object
 6   order_delivered_customer_date  1373 non-null   object
 7   order_estimated_delivery_date  1373 non-null   object
dtypes: object(8)
memory usage: 96.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98068 entries, 0 to 98067
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       98068 non-null  object
 1   customer_id                    98068 non-null  object
 2   order_status                   98068 non-null  object
 3   order_purchase_timestamp       98068 non-null  object
 4   order_approved_at              97908 non-null  object
 5   order_delivered_carrier_date   96285 non-null  object
 6   order_delivered_customer_date  95103 non-null  object
 7   order_estimated_delivery_date  98068 non-null  object
dtypes: object(8)
memory usage: 6.0+ MB

### 3. Orders Items Dataset
This dataset contains details about each item in an order, including product info, seller, price, freight, and sequence within the order.

Columns:
- order_id → links to orders
- order_item_id → item sequence in the order
- product_id → links to products
- seller_id → links to sellers
- shipping_limit_date → expected shipment date
- price → item price
- freight_value → shipping cost

We will explore to find any issues with structure or to improve quality.

In [51]:
#Exploring order_items dataset
display(order_items.shape)
display(order_items.head())
display(order_items.info())
order_items.isnull().sum()
order_items.nunique()

(112650, 7)

,order_id,order_item_id,product_id,seller_id,last_shipping_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   order_id            112650 non-null  object
 1   order_item_id       112650 non-null  int64
 2   product_id          112650 non-null  object
 3   seller_id           112650 non-null  object
 4   last_shipping_date  112650 non-null  datetime64[ns]
 5   price               112650 non-null  float64
 6   freight_value       112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

None

order_id              98666
order_item_id            21
product_id            32951
seller_id              3095
last_shipping_date    93318
price                  5968
freight_value          6999
dtype: int64

### Order Items Dataset - Findings
- There are no missing values in key columns (`order_id`, `product_id`, `seller_id`)
- `shipping_limit_date` needs conversion from objects to datetime type for easier calculations of delivery performance.
- `price` and `freight_value` are crucial for revenue analysis, so we'll ensure they are non-negative.

### Order Items - Cleaning

In [ ]:
#Changing the datatype of shipping_limit_date to datetime
order_items['shipping_limit_date'] = pd.to_datetime(order_items['shipping_limit_date'], errors='coerce')
#Renaming shipping_limit_date to last_shipping_date for consistency
order_items = order_items.rename(columns={'shipping_limit_date': 'last_shipping_date'})

In [23]:
order_items.shape
#Checking for negative prices and freight values
invalid_prices = order_items[order_items['price'] < 0]
invalid_freight = order_items[order_items['freight_value'] < 0]
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

### 4. Order Payments
This dataset contains information about payments for each order, including payment type, amount, and number of installments.

Column:
- order_id → links to the orders table
- payment_sequential → sequence of payments for the same order
- payment_type → method of payment (credit card, boleto, etc.)
- payment_installments → number of installments
- payment_value → amount paid

We will explore to find any issues with structure or to improve quality.

In [47]:
display (order_payments.shape)
display (order_payments.head())
display (order_payments.info())
order_payments.isnull().sum()
order_payments.nunique()
order_payments.duplicated().sum()
order_payments['payment_type'].value_counts()

(103875, 5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103875 entries, 0 to 103874
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103875 non-null  object
 1   payment_sequential    103875 non-null  int64
 2   payment_type          103875 non-null  object
 3   payment_installments  103875 non-null  int64
 4   payment_value         103875 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

None

payment_type
credit_card    76793
boleto         19784
voucher         5769
debit_card      1529
Name: count, dtype: int64

### Order Payment - Findings
- No missing values found in key coulumn (`order_id`)
- Orders may repeat if the payment is done in installments.
- `payment_value` should not be negative.
- `payment_installments` should be positive (>=1)
- This dataset is crucial in analyzing payment behaviour.

### Order Payment - Cleaning

In [25]:
#Checking for negative payment values and drop those rows
invalid_payments = order_payments[order_payments['payment_value'] <= 0]
order_payments = order_payments[order_payments['payment_value'] > 0].reset_index(drop=True)
print(f"Invalid payment_value rows: {invalid_payments.shape[0]}")

#Checking for invalid payment installments (should be >=1)
invalid_installments = order_payments[order_payments['payment_installments'] < 1]
order_payments =order_payments[order_payments['payment_installments'] >= 1].reset_index(drop=True)
print(f"Invalid payment_installments rows: {invalid_installments.shape[0]}")

order_payments['payment_type'].value_counts()

Invalid payment_value rows: 0
Invalid payment_installments rows: 0

payment_type
credit_card    76793
boleto         19784
voucher         5769
debit_card      1529
Name: count, dtype: int64

In [26]:
order_payments.shape

(103875, 5)

### 5. Order Reviews
This dateset contains customer feedback for completed orders.

- review_id → Unique identifier for each review.
- order_id → Links the review to the corresponding order in the orders dataset.
- review_score → Rating from 1 to 5 (1 = very bad, 5 = very good).
- review_comment_title → Optional short summary of the review (text).
- review_comment_message → Optional detailed review (text).
- review_creation_date → When the review was created (string, needs datetime conversion).
- review_answer_timestamp → When Olist responded/registered the review (string, needs datetime conversion).

We will explore this dataset to find any issues with structure and to improve quality

In [21]:
display(order_reviews.shape)
display(order_reviews.head())
display(order_reviews.info())
display(order_reviews.isnull().sum())
display(order_reviews.nunique())

(99224, 7)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

None

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

review_id                  98410
order_id                   98673
review_score                   5
review_comment_title        4527
review_comment_message     36159
review_creation_date         636
review_answer_timestamp    98248
dtype: int64

### Order Reviews - Findings
- `review_creation_date` and `review_answer_timestamp` need conversion from object to datetime.
- Duplicate `review_id` entries may exist, and  hence need to checked and removed.
- There are missing values in the columns (`review_comment_title` and `review_comment_message`).
- Possible missing `review_score` (but should not be removed since not every customer leaves reviews for the items purchased).

### Order Reviews - Cleaning

In [10]:
print(f"order reviews shape before cleaning: {order_reviews.shape[0]}")

order reviews shape before cleaning: 99224

In [30]:
#Changing the dattype of timestamp columns to datetime
date_cols = ['review_creation_date', 'review_answer_timestamp']
for col in date_cols:
    order_reviews[col] = pd.to_datetime(order_reviews[col], errors='coerce')

#checking for missing review_id entries
order_reviews['review_id'].isnull().sum()
order_reviews.info()
#checking for duplicate review_id entries
order_reviews[order_reviews['order_id'].duplicated()]

#printing number of duplicate review_id entries
print(f"Duplicate review_id entries: {order_reviews['review_id'].duplicated().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB
Duplicate review_id entries: 814

In [32]:

# Group by review_id to check uniqueness across orders and scores
review_check = order_reviews.groupby('review_id').agg({
    'order_id': 'nunique',
    'review_score': 'nunique',
    'review_creation_date': 'nunique'
}).sort_values(by='order_id', ascending=False)

review_check.head()

# Reviews tied to multiple order_ids (shouldn't happen normally)
suspicious_reviews = order_reviews.groupby('review_id').agg({
    'order_id': 'nunique'
})
suspicious_reviews = suspicious_reviews[suspicious_reviews['order_id'] > 1]

# Example: extract one suspicious review
example_fake = order_reviews[order_reviews['review_id'] == suspicious_reviews.index[0]]
example_fake

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
29841,00130cbe1f9d422698c812ed8ded1919,04a28263e085d399c97ae49e0b477efa,1,NaN,"O cartucho ""original HP"" 60XL não é reconhecid...",2018-03-07,2018-03-20 18:08:23
46678,00130cbe1f9d422698c812ed8ded1919,dfcdfc43867d1c1381bfaf62d6b9c195,1,NaN,"O cartucho ""original HP"" 60XL não é reconhecid...",2018-03-07,2018-03-20 18:08:23

In [34]:
# Find customers who made these suspicious reviews
fake_review_ids = suspicious_reviews.index
fake_orders = order_reviews[order_reviews['review_id'].isin(fake_review_ids)]['order_id']
fake_customers = orders[orders['order_id'].isin(fake_orders)]['customer_id']
customers[customers['customer_id'].isin(fake_customers)]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR
113,8891eb5ca0e28df961b2b5b8f3c0eb23,13ac6da47fef1b17b16f511e03b57918,2632,sao paulo,SP
134,acca74d2a60c03b46a5256c02cef9244,f34cd7fd85a1f8baff886edf09567be3,89120,timbo,SC
187,46c6a82294d359a290ff408b11cbb643,1605a6c5d93d3488fb621c5323930795,22251,rio de janeiro,RJ
199,852947b57caab58c544343592f5e06d2,4f6d635ff2fd4e30ff5369a7b943eb22,8340,sao paulo,SP
...,...,...,...,...,...
99259,e625d447d6605488f6e7b8bba3024e08,0e3c753956e35026b965d9ac3590c5af,28013,campos dos goytacazes,RJ
99264,ff09fd7b29e7488a8d8a20badcd8befe,8c21dd8c37144807c601f99f2a209dfb,72587,brasilia,DF
99320,4740044a9390cc45b2c213e8714129e7,08f7cf00ed9ff3e0a08fc136ec272974,71900,brasilia,DF
99324,5b46a0d983eec8c97363bea78d4a69dd,8bab3162259edfaadd1ea2e1fe7f58dc,31565,belo horizonte,MG
99327,c1affa46f9f3b514555259049a0307b9,12ab9334b1240d6d037f2b0102a49571,38050,uberaba,MG

In [29]:


# Keep only the first review_id occurrence
order_reviews_cleaned = order_reviews.drop_duplicates(subset=['review_id'], keep='first')
display(order_reviews_cleaned.shape)

(98410, 7)

### 6. Products
The products table contains details of items sold. Typical columns are:
- product_id → Unique identifier of the product.
- product_category_name → Category of the product (in Portuguese).
- product_name_lenght, product_description_lenght, product_photos_qty → Metadata about product listings.
- product_weight_g, product_length_cm, product_height_cm, product_width_cm → Dimensions and weight for shipping

We will explore this dataset to find any issues with structure and to improve quality

In [39]:
display(products.shape)
display(products.head())
display(products.info())
products.isnull().sum()

(32951, 9)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

None

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

### Product - Findings
- Column names are not standardized, hence needs renaming.
- `product_category_name` has missing values so drop those rows.
- Few missing values in weight, height, length, width → impute using median (better than mean since it handles skew).
- Other values are valid, no duplicates or major anomalies detected.

### Products - Cleaning

In [30]:
#renaming columns to standardize
products.rename(columns = {'product_name_lenght': 'product_name_length', 'product_description_lenght ': 'product_description_length'}, inplace=True)

#Checking for missing product_category_name values
missing_category = products[products['product_category_name'].isna()]
print(f"Missing product_category_name rows: {missing_category.shape[0]}")
missing_category_ratio = products['product_category_name'].isna().mean() * 100
print(f"Missing categories which is : {missing_category_ratio:.2f}%")
#Dropping rows with missing product_category_name
products_cleaned= products.dropna(subset=['product_category_name']).reset_index(drop=True)
products_cleaned.info()

product_names_unq= products_cleaned['product_category_name'].unique()

Missing product_category_name rows: 610
Missing categories which is : 1.85%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32341 entries, 0 to 32340
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32341 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_length         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32340 non-null  float64
 6   product_length_cm           32340 non-null  float64
 7   product_height_cm           32340 non-null  float64
 8   product_width_cm            32340 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.2+ MB

### 7. Sellers
The sellers dataset provides information about the marketplace sellers (vendors) who list products on the Olist platform.

Columns:
- seller_id → Unique identifier for each seller.
- seller_zip_code_prefix → First 5 digits of the seller’s ZIP code.
- seller_city → City where the seller is located.
- seller_state → State where the seller is located (two-letter abbreviation, e.g., SP, RJ).

We will further explore dataset to find any issue with the stucture of the dataset or to improve quality.

In [22]:
display(sellers.shape)
display(sellers.head(10))
display(sellers.info())
print(sellers['seller_id'].duplicated().sum())
display(sellers['seller_state'].value_counts())
display(sellers['seller_city'].value_counts())

(3095, 4)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
5,c240c4061717ac1806ae6ee72be3533b,20920,rio de janeiro,RJ
6,e49c26c3edfa46d227d5121a6b6e4d37,55325,brejao,PE
7,1b938a7ec6ac5061a66a3766e0e75f90,16304,penapolis,SP
8,768a86e36ad6aae3d03ee3c6433d61df,1529,sao paulo,SP
9,ccc4bbb5f32a6ab2b7066a4130f114e3,80310,curitiba,PR

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

None

0

seller_state
SP    1849
PR     349
MG     244
SC     190
RJ     171
RS     129
GO      40
DF      30
ES      23
BA      19
CE      13
PE       9
PB       6
RN       5
MS       5
MT       4
RO       2
SE       2
PI       1
AC       1
MA       1
AM       1
PA       1
Name: count, dtype: int64

seller_city
sao paulo              694
curitiba               127
rio de janeiro          96
belo horizonte          68
ribeirao preto          52
                      ...
taruma                   1
s jose do rio preto      1
domingos martins         1
messias targino          1
leme                     1
Name: count, Length: 611, dtype: int64

In [19]:
# Group cities by state and list unique cities for each
cities_per_state = sellers.groupby('seller_state')['seller_city'].unique().reset_index()

# Optional: see how many unique cities per state
cities_per_state['num_cities'] = cities_per_state['seller_city'].apply(len)

cities_per_state.head()

  seller_state                                        seller_city  num_cities
0           AC                                       [rio branco]           1
1           AM                                           [manaus]           1
2           BA  [lauro de freitas, porto seguro, salvador, bar...          12
3           CE  [fortaleza, mucambo, pacatuba, juzeiro do nort...           7
4           DF                      [brasilia, brasilia df, gama]           3

### Sellers - Findings
- There are no missing values in the sellers dataset.
- Each seller is uniquely identified by `seller_id`.
- We need to standardize the `seller_city` names.
- There are inconsistencies in `seller_city` values (e.g., "brasilia" and "brasilia df" represent the same city but are written differently). Similar cases exist for other cities as well.

### Sellers - Cleaning

In [31]:
# Handling accented and unicode characters and for that importing unidecode.
!pip install unidecode
from unidecode import unidecode

Requirement already satisfied: unidecode in ./.venv/lib/python3.13/site-packages (1.4.0)

In [40]:
# Standardize city names to lower case
sellers['seller_city'] = sellers['seller_city'].str.lower().str.strip()
# Remove accents and special characters
sellers['seller_city'] = sellers['seller_city'].apply(lambda x: unidecode(x))
#checking for the duplicates now
print(f"Total duplicate cities : {sellers['seller_city'].duplicated().sum()}")

Total duplicate cities : 2486

In [41]:
single_entry_cities = sellers['seller_city'].value_counts()[sellers['seller_city'].value_counts() == 1]
sorted(single_entry_cities.index)

['04482255',
 'abadia de goias',
 'afonso claudio',
 'aguas claras df',
 'alambari',
 'almirante tamandare',
 'alvares machado',
 'alvorada',
 'ampere',
 'andira-pr',
 'angra dos reis',
 'angra dos reis rj',
 'ao bernardo do campo',
 'aparecida',
 'aparecida de goiania',
 'aperibe',
 'aracaju',
 'araquari',
 'ararangua',
 'arinos',
 "arraial d'ajuda (porto seguro)",
 'arvorezinha',
 'auriflama',
 'auriflama/sp',
 'avare',
 'bage',
 'bahia',
 'balenario camboriu',
 'bandeirantes',
 'barbacena',
 'barbacena/ minas gerais',
 'barra velha',
 'barrinha',
 'barro alto',
 'bebedouro',
 'belo horizont',
 'bertioga',
 'bocaiuva do sul',
 'bofete',
 'bom jardim',
 'bom jesus dos perdoes',
 'bombinhas',
 'bonfinopolis de minas',
 'braco do norte',
 'brasilia df',
 'brejao',
 'brotas',
 'buritama',
 'cacador',
 'cachoeira do sul',
 'caieiras',
 'california',
 'camanducaia',
 'camboriu',
 'campanha',
 'campina das missoes',
 'campina grande',
 'campo do meio',
 'campo magro',
 'campo mourao',
 'campos dos goytacazes',
 'campos novos',
 'cananeia',
 'carapicuiba / sao paulo',
 'caratinga',
 'cariacica / es',
 'carmo da mata',
 'carmo do cajuru',
 'cascavael',
 'castro pires',
 'cataguases',
 'caucaia',
 'centro',
 'cerqueira cesar',
 'cianorte',
 'clementina',
 'colatina',
 'colorado',
 'concordia',
 'condor',
 'congonhal',
 'congonhas',
 'cordeiropolis',
 'cordilheira alta',
 'cornelio procopio',
 'coxim',
 'cravinhos',
 'cruzeiro',
 'descalvado',
 'divisa nova',
 'domingos martins',
 'dracena',
 'embu guacu',
 'engenheiro coelho',
 'entre rios do oeste',
 'erechim',
 'eunapolis',
 'eusebio',
 'extrema',
 'feira de santana',
 'fernando prestes',
 'ferraz de  vasconcelos',
 'floranopolis',
 'floresta',
 'formosa do oeste',
 'francisco morato',
 'fronteira',
 'gama',
 'garulhos',
 'garuva',
 'goioere',
 'governador valadares',
 'guaimbe',
 'guanambi',
 'guanhaes',
 'guara',
 'guarapuava',
 'guaratingueta',
 'guariba',
 'guiricema',
 'holambra',
 'horizontina',
 'ibia',
 'ibirite',
 'icara',
 'igrejinha',
 'ilheus',
 'ilicinea',
 'imbe',
 'imbituva',
 'imigrante',
 'ipaussu',
 'ipe',
 'ipua',
 'irati',
 'irece',
 'itabira',
 'itaborai',
 'itapema',
 'itapeva',
 'itaporanga',
 'itapui',
 'itau de minas',
 'itirapina',
 'ivoti',
 'jacarei / sao paulo',
 'jaciara',
 'jales',
 'jambeiro',
 'janauba',
 'japira',
 'jaragua',
 'jarinu',
 'ji parana',
 'joao monlevade',
 'joao pinheiro',
 'jussara',
 'juzeiro do norte',
 'lages - sc',
 'lagoa santa',
 'laguna',
 'lambari',
 'laranjeiras do sul',
 'leme',
 'louveira',
 'luiz alves',
 'luziania',
 'macatuba',
 'mage',
 'mairinque',
 'mamanguape',
 'manaus',
 'mandaguacu',
 'mandaguari',
 'mandirituba',
 'marapoama',
 'marialva',
 'marica',
 'massaranduba',
 'mateus leme',
 'maua/sao paulo',
 'medianeira',
 'messias targino',
 'miguelopolis',
 'minas gerais',
 'mineiros do tiete',
 'mirandopolis',
 'mococa',
 'mogi das cruses',
 'mogi das cruzes / sp',
 'mombuca',
 'monte alegre do sul',
 'monte alto',
 'monte siao',
 'monteiro lobato',
 'mucambo',
 'muqui',
 'muriae',
 'neopolis',
 'nhandeara',
 'nova lima',
 'nova petropolis',
 'nova trento',
 'novo hamburgo, rio grande do sul, brasil',
 'novo horizonte',
 'olimpia',
 'oliveira',
 'orlandia',
 'orleans',
 'ourinhos',
 'ouro fino',
 'ouro preto',
 'pacatuba',
 'paincandu',
 'palotina',
 'paracambi',
 'parai',
 'paraiba do sul',
 'paraiso do sul',
 'parana',
 'paranavai',
 'parnamirim',
 'passos',
 'pato bragado',
 'pederneiras',
 'pedregulho',
 'pedrinhas paulista',
 'pedro leopoldo',
 'picarras',
 'pilar do sul',
 'pinhais/pr',
 'pinhalao',
 'piracanjuba',
 'pirassununga',
 'pirituba',
 'pitangueiras',
 'poa',
 'ponte nova',
 'portao',
 'porto seguro',
 'porto velho',
 'portoferreira',
 'pouso alegre',
 'prados',
 'presidente bernardes',
 'presidente epitacio',
 'presidente getulio',
 'queimados',
 'resende',
 'ribeirao preto / sao paulo',
 'ribeirao pretp',
 'riberao preto',
 'rio branco',
 'rio das pedras',
 'rio de janeiro / rio de janeiro',
 'rio de janeiro \\rio de janeiro',
 'rio de janeiro, rio de janeiro, brasil',
 'rio do oeste',
 'rio grande',
 'rio negrinho',
 'rio verde',
 'robeirao preto',
 'rolante',
 'ronda alta',
 's jose do rio preto',
 'sabara',
 'sando andre',
 'santa barbara d oeste',
 'santa catarina',
 'santa cecilia',
 'santa cruz do sul',
 'santa maria da serra',
 'santa rosa de viterbo',
 'santa terezinha de goias',
 'santo andre/sao paulo',
 'santo angelo',
 'santo antonio da patrulha',
 'santo antonio de padua',
 'santo antonio de posse',
 'sao  jose dos pinhais',
 'sao  paulo',
 'sao bento',
 'sao bernardo do capo',
 'sao francisco do sul',
 'sao joao da boa vista',
 'sao joaquim da barra',
 'sao jose do rio pret',
 'sao jose dos pinhas',
 'sao luis',
 "sao miguel d'oeste",
 'sao miguel do oeste',
 'sao paluo',
 'sao paulo / sao paulo',
 'sao paulo sp',
 'sao paulop',
 'sao pauo',
 'sao pedro da aldeia',
 'sao sebastiao',
 'sao sebastiao da grama/sp',
 'sao vicente',
 'sapiranga',
 'saquarema',
 'sbc',
 'sbc/sp',
 'scao jose do rio pardo',
 'serra redonda',
 'serrana',
 'sertanopolis',
 'sinop',
 'socorro',
 'soledade',
 'sp / sp',
 'tabao da serra',
 'taio',
 'tambau',
 'taruma',
 'teixeira soares',
 'teresina',
 'terra boa',
 'tiete',
 'timoteo',
 'tocantins',
 'torres',
 'tres coroas',
 'tres de maio',
 'tres rios',
 'triunfo',
 'ubatuba',
 'uniao da vitoria',
 'uruguaiana',
 'vargem grande paulista',
 'varzea alegre',
 'varzea paulista',
 'vassouras',
 'vendas@creditparts.com.br',
 'vera cruz',
 'vespasiano',
 'viana',
 'vicente de carvalho',
 'vitoria de santo antao',
 'xaxim']

In [47]:
# Manually creating a mapping dictionary for city name corrections
city_corrections = {
    'sao pau': 'sao paulo',
    'rio de janei': 'rio de janeiro',
    'sao miguel' : "sao miguel d'eoste",
    'santa antoni': 'santa antonia'
}
for wrong, correct in city_corrections.items():
    sellers.loc[sellers['seller_city'].str.contains(wrong, case=False, na=False), 'seller_city'] = correct
display(sellers['seller_city'].value_counts())

seller_city
sao paulo         707
curitiba          127
rio de janeiro     99
belo horizonte     68
ribeirao preto     52
                 ...
nhandeara           1
guarapuava          1
sinop               1
joao pinheiro       1
leme                1
Name: count, Length: 595, dtype: int64

### 8. Geolocation
This dataset contains information about customer/seller addresses:
- geolocation_zip_code_prefix – shared with customers & sellers tables
- geolocation_lat, geolocation_lng – latitude and longitude
- geolocation_city – city name
- geolocation_state – state code (2-letter)

We will explore this dataset to standardize it and to improve quality.

In [4]:
display(geoloc.shape)
display(geoloc.head())
display(geoloc.info())
geoloc.isnull().sum()
geoloc.nunique()

(1000163, 5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

None

geolocation_zip_code_prefix     19015
geolocation_lat                717363
geolocation_lng                717615
geolocation_city                 8011
geolocation_state                  27
dtype: int64

### Geolocation - Findings
- This dataset has not missing values.
- `geolocation_zip_code_prefix` is common to many locations with slightly varying latitude and longitudes. Repeated coordinated adds no value to our analysis. So, we will aggregate the zip code to get mean coordinates.

### Geolocation - Cleaning

In [36]:
# Aggregate geolocation by zip code prefix
geo_agg = (
    geoloc.groupby('geolocation_zip_code_prefix')
    .agg({
        'geolocation_lat': 'mean',   # average latitude
        'geolocation_lng': 'mean',   # average longitude
        'geolocation_city': lambda x: x.mode()[0] if not x.mode().empty else x.iloc[0],
        'geolocation_state': lambda x: x.mode()[0] if not x.mode().empty else x.iloc[0]
    })
    .reset_index()
)

print("Before aggregation:", geoloc.shape)
print("After aggregation:", geo_agg.shape)

Before aggregation: (1000163, 5)
After aggregation: (19015, 5)

### 9. Product Category Name Transalation
It provides translations of product category names from Portuguese to English.
Columns:
- product_category_name → in Portuguese
- product_category_name_english → in English

Lets Explore this dataset.

In [11]:
display(category_name_translation.shape)
display(category_name_translation.head())
display(category_name_translation.info())
category_name_translation.isnull().sum()

(71, 2)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

None

product_category_name            0
product_category_name_english    0
dtype: int64

### Product Category Name Translation - Findings
- Contains Portuguese category names with their English translations.  
- Useful for making product data easier to analyze in English.  
- Steps:
  - No missing or null translations.  
  - Ensure unique mapping between Portuguese and English categories.

### Product Category Name Translation - Cleaning

In [22]:
category_name_translation.info()
product_names_eng = category_name_translation['product_category_name'].unique()

# Re-check for any missing categories
missing_names = set(product_names_unq) - set(category_name_translation['product_category_name'])
print("Missing categories:", missing_names)

missing_names_df = products[products['product_category_name'].isin(missing_names)]
missing_names_df

new_row = pd.DataFrame({
    'product_category_name': ['portateis_cozinha_e_preparadores_de_alimentos', 'pc_gamer'], 
    'product_category_name_english': ['portable_kitchen_and_food_preparers', 'pc_gamer']})
category_name_translation = pd.concat([category_name_translation, new_row], ignore_index=True)

# Ensure no duplicate categories remain after adding new translations
category_name_translation= category_name_translation.drop_duplicates(subset=['product_category_name']).reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          73 non-null     object
 1   product_category_name_english  73 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB
Missing categories: set()

In [37]:
import os

# Create folder if it doesn't exist
os.makedirs('cleaned_data', exist_ok=True)

# Dictionary to mark which datasets are cleaned
cleaned_status = {
    'customers': True,
    'orders': True,
    'order_items': True,
    'order_payments': True,
    'order_reviews': True,
    'products': True,
    'sellers': True,
    'geolocation': True,
    'category_name_translation': True
}

# Dictionary of dataset variables
datasets = {
    'customers': customers,
    'orders': orders_cleaned,
    'order_items': order_items,
    'order_payments': order_payments,
    'order_reviews': order_reviews_cleaned,
    'products': products_cleaned,
    'sellers': sellers,
    'geolocation': geo_agg,  # aggregated geolocation
    'category_name_translation': category_name_translation
}

# Save only cleaned datasets
for name, df in datasets.items():
    if cleaned_status[name]:
        df.to_csv(f'cleaned_data/{name}.csv', index=False)
        print(f"{name} saved ✅")

customers saved ✅
orders saved ✅
order_items saved ✅
order_payments saved ✅
order_reviews saved ✅
products saved ✅
sellers saved ✅
geolocation saved ✅
category_name_translation saved ✅